<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fAmTech</title>
    <link rel="stylesheet" href="/public/index.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://kit.fontawesome.com/ddad583ae4.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <!-----header section-->
        <section>
            <div class="header">
                <div id="logo"></div>
                <div id="head">
                    <h1>fAmTech</h1>
                </div>
                <div class="headbtn"><a href="/views/forms.html">Place an Order</a></div>
            </div>
        </section>
        <!---Home Section-->
        <section>

            <div id="header-tabs">
                <div class="tabs">
                    <nav>

                        <ul id="sidemenu">
                            <li><a href="#header-tabs">Home</a></li>
                            <li><a href="#Products">Products</a></li>
                            <li><a href="#About"> About Us</a></li>
                            <li><a href="#Mission">Our Mission</a></li>
                            <li><a href="#Vision">Our Vision</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                            <i class="fas fa-times" onclick="closemenu()"></i>
                        </ul>
                        <i class="fas fa-bars" onclick="openmenu()"></i>
                    </nav>
                    <div class="header-text">
                        <p>Welcome</p><br>
                        <h1>To The Number One <span> Digital Livestock Farm </span></h1>
                    </div>
                </div>
            </div><br><br>

            <div class="container">
                <div class="container-list">
                    <div class="list">
                        <img src="/images/turkey1.jpg" width="400" height="400">
                        <div class="layer">
                            <a href="/views/forms.html">Place an Order</a>
                        </div>
                    </div>

                    <div class="list">
                        <img src="/images/chicken3.jpg" width="400" height="400">
                        <div class="layer">
                            <a href="/views/forms.html">Place an Order</a>
                        </div>
                    </div>
                    <div class="list">
                        <img src="/images/cow6.jpg" width="400" height="400">
                        <div class="layer">
                            <a href="/views/forms.html">Place an Order</a>
                        </div>
                    </div>


                </div><br>
                <br>
                <a href="/views/forms.html" class="container-btn">Place an Order</a>

            </div><br><br>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/chicken1.jpg" alt="Image 1"></div>
                    <div class="swiper-slide"><img src="/images/turkey1.jpg" alt="Image 2"></div>
                    <div class="swiper-slide"><img src="/images/chicken3.jpg" alt="Image 3"></div>
                    <div class="swiper-slide"><img src="/images/pigs2.jpg" alt="Image 4"></div>
                    <div class="swiper-slide"><img src="/images/eggs1.jpg" alt="Image 5"></div>
                    <div class="swiper-slide"><img src="/images/cow2.jpg" alt="Image 6"></div>

                </div>
                <div class="swiper-pagination"></div>
            </div><br><br>

        </section>
        <!----products section------>
        <h1 class="title">Our Availiable Products</h1><br>
        <section id="Products">

            <div class="project-card">
                <div class="card-header">
                    <img src="/images/turkey2.jpg" alt="card-image">
                </div>
                <div class="card-body">
                    <h4>Turkey</h4>
                    <p>
                        High breed turkey at afordable price
                    </p>
                </div>
                <hr>
                <div class="card-footer">
                    <a href="/views/forms.html" target="_blank" class="btn">Place an Order</a>
                </div>
            </div>
            <div class="project-card">
                <div class="card-header">
                    <img src="/images/chicken2.jpg" alt="card-image">
                </div>
                <div class="card-body">
                    <h4>Chicken</h4>
                    <p>
                        All types of breeds are availiable
                    </p>
                </div>
                <hr>
                <div class="card-footer">
                    <a href="/views/forms.html" target="_blank" class="btn">Place an Order</a>
                </div>

            </div>
            <div class="project-card">
                <div class="card-header">
                    <img src="/images/cow6.jpg" alt="card-image">
                </div>
                <div class="card-body">
                    <h4>Cattles</h4>
                    <p>
                        High breed cattles at afordable price
                    </p>
                </div>
                <hr>
                <div class="card-footer">
                    <a href="/views/forms.html" target="_blank" class="btn">Place an Order</a>
                </div>

            </div>
        </section>

        <section id="Products">

            <div class="project-card">
                <div class="card-header">
                    <img src="/images/goat2.jpg" alt="card-image">
                </div>
                <div class="card-body">
                    <h4>Goats</h4>
                    <p>
                        High breed Goats at afordable price
                    </p>
                </div>
                <hr>
                <div class="card-footer">
                    <a href="/views/forms.html" target="_blank" class="btn">Place an Order</a>
                </div>
            </div>
            <div class="project-card">
                <div class="card-header">
                    <img src="/images/pigs2.jpg" alt="card-image">
                </div>
                <div class="card-body">
                    <h4>Pigs</h4>
                    <p>
                        All types of breeds are availiable
                    </p>
                </div>
                <hr>
                <div class="card-footer">
                    <a href="/views/forms.html" target="_blank" class="btn">Place an Order</a>
                </div>

            </div>
            <div class="project-card">
                <div class="card-header">
                    <img src="/images/eggs1.jpg" alt="card-image">
                </div>
                <div class="card-body">
                    <h4>Eggs</h4>
                    <p>
                        High Quality eggs at afordable price
                    </p>
                </div>
                <hr>
                <div class="card-footer">
                    <a href="/views/forms.html" target="_blank" class="btn">Place an Order</a>
                </div>

            </div>

        </section>

        <section id="Products">

            <div class="project-card">
                <div class="card-header">
                    <img src="/images/fish3.jpg" alt="card-image">
                </div>
                <div class="card-body">
                    <h4>Fish</h4>
                    <p>
                        High breed fishes at afordable price
                    </p>
                </div>
                <hr>
                <div class="card-footer">
                    <a href="/views/forms.html" target="_blank" class="btn">Place an Order</a>
                </div>
            </div>
            <div class="project-card">
                <div class="card-header">
                    <img src="/images/ram.jpg" alt="card-image">
                </div>
                <div class="card-body">
                    <h4>Sheep</h4>
                    <p>
                        All types of breeds are availiable
                    </p>
                </div>
                <hr>
                <div class="card-footer">
                    <a href="/views/forms.html" target="_blank" class="btn">Place an Order</a>
                </div>

            </div>
            <div class="project-card">
                <div class="card-header">
                    <img src="/images/milk.jpg" alt="card-image">
                </div>
                <div class="card-body">
                    <h4>Milk</h4>
                    <p>
                        nutritious milk at afordable price
                    </p>
                </div>
                <hr>
                <div class="card-footer">
                    <a href="/views/forms.html" target="_blank" class="btn">Place an Order</a>
                </div>

            </div>

        </section>
        <section id="About">
            <div class="content">
                <h1>About Us</h1>
                <p>
                    fAmTech is a modernize tech-enabled large-scale farm that tends to
                    eliminate hunger and livestock scarcity by integrating a mobile app
                    to enable order placements at conveniences; at the door steps of our customers,
                    we deliver orders. No inconveniences, no energy and time wastage!
                    We are reliable!! We are the best livestock-dealers!!! .

                </p>
            </div>
        </section>
        <hr>
        <section id="Mission">
            <div class="content">
                <h1>Our Mission</h1>
                <p>
                    To establish a modernized tech-enabled world-class large scale
                    livestock farm with subsidised local and foreign breeds of livestocks
                    availiable throughout the country, year in year out.

                </p>
            </div>
        </section>
        <hr>

        <section id="Vision">
            <div class="content">
                <h1>Our Vision</h1>
                <p>
                    To eliminate or reduce to the bearest minimum hunger (caused by scarcity
                    and unaffordability of livestock produce) and poverty by providing readily
                    availiable and affordable livestocks and produce in large numbers for both
                    SMEs and consumers.
                </p>
            </div>
        </section>

        <footer id="contact">
            <div class="footer">
                <div class="footer-1">
                    <p><span>fAmTech</span>
                        embarked on its journey in 2024. Fuelled <br> by the desire to cultivate a vibrant ecosystem,
                        the
                        tech's inception was rooted in <br> the belief that digital farms could not only transform
                        lives
                        but also empower communities.
                    </p>
                </div>
                <div class="footer-2">
                    <span>Contact Us For More Info</span>
                    <hr>
                    <br>
                    <p>Phone: +2348128457536 | +2348167110213</p>
                    <br>
                    <p>Email: youngauthorjozef@yahoo.com</p>
                    <br>
                    <br><br>
                    <br>
                    <p>All Right Reserved <small>fAmTech</small> @ 2024</p>
                </div>

            </div>

        </footer>

    </main>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 3000, // Slide change delay in milliseconds
                disableOnInteraction: false,
            },
        });
    </script>
    <!---javascript for small screen-->
    <script>
        var sidemenu = document.getElementById("sidemenu");

        function openmenu() {
            sidemenu.style.right = "0";

        }
        function closemenu() {

            sidemenu.style.right = "-200px"
        }
    </script>

</body>

</html>