body{
    margin: 0;
    padding: 0;
    background-color: gainsboro;
   
}

#form1{
    height: auto;
    width: auto;
    padding: 20px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    
    
}
#form2{
    background-color: whitesmoke;
    height: auto;
    width: auto;
   padding: 20px;
   border-radius: 10px;
}
.submit{
    color: white;
    background-color: green;
    cursor: pointer;
    font-size: 15px;
}

.input{
    padding: 12px;
    border-radius: 10px;
    width: 350px;  
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    outline: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.header{
   background-color: green;
   width: auto;
   height: 10vh;
   color: white;
   padding-top: 10px;
   
}
.header h1{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    
}
#h1{
    margin-left: 40px;
    font-size: 15px;
    color: black;
}
.form-container{
    display: none;
}